@charset "utf-8";
/* CSS Document */

/*公共*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: arial,"Lantinghei SC","Microsoft Yahei";	
}

html,body {
	height: 100%;
	background:#f5f5f5 ;
}

a {
  color: #000;
  text-decoration: none;
}
hr{margin:5px 5px}
.clear{ clear:both;}
.login-box {width: 100%;}
.login-banner-bg,.login-boxtitle{display: none;}

/*标题*/
h3.title{text-align: center;padding:8px;font-weight: 600;}
.zcnext{position: absolute;right:5px;top:5px ;padding:5px;font-size:14px ;}

/*主题*/
.login-form{background:#fff ;width: 100%;}
form{max-width:320px;margin:20px auto ;}
.user-name,.user-pass,.user-email,.user-phone,.verification, .user-type,.username,.gender,.user-address,.id-card,.card-number,.card-photo{position: relative; height: 42px;margin-bottom:5px;}
form label{position:absolute;display: block;width: 40px;height: 40px;line-height: 40px;background:#fff;text-align: center;top:1px;left:1px}
form input{font-size: 14px;line-height: 18px;height:42px;padding: 11px 8px 11px 50px;width:100%;border:1px solid #fff;}
form input[type='file']{visibility: hidden; }
form select{text-indent: 42px;font-size: 14px;line-height: 18px;height:42px;width:100%;border:1px solid #fff;padding: 11px 8px 11px 50px;}
input:-webkit-autofill { -webkit-box-shadow: 0 0 0px 1000px #fff inset;}
.id-card{font-size: 14px;}
.am-cf{width: 100%;max-width:320px;margin:0px auto ;}
.am-cf input{width: 100%;font-size: 14px;}
.login-links{max-width:320px;margin:20px auto ;font-size:14px;}
#alert{display: none;}

/*合作账号*/
.partner{width: 100%;max-width:320px;margin:20px auto ;font-size:14px;}
.partner h3{text-align: center;}
.am-btn-group{display: block;overflow: hidden;}
.am-btn-group li{width:33.333% ;display: block;float: left;}
.am-btn-group i{margin:0px auto ;display: block;width: 42px;height: 42px;border-radius: 42px;line-height:42px ;padding-left: 10px;border:1px solid #eee ;background:#fff ;color: #0e90d2;}
.am-btn-group span{display: none;}


/*注册*/
.verification {position: relative;}
input#code {width: 80%;}
#dyMobileButton{margin-left: 10px;border: 1px solid #DDD;padding: 0px;width: 15%;height: 40px;background: #F4F4F4 none repeat scroll 0% 0%;margin-top: 0px;text-align: center;line-height:40px;color: #333;text-decoration: none;position: absolute;right: 0px;bottom: 0px;}


/*修改的样式*/
#doc-my-tabs li.am-active a,#doc-my-tabs li a{ background:#f8f8f8;}
.am-tabs-bd{border: none;}
.am-nav-tabs.am-nav-justify li {padding:5px;}
.am-nav-tabs>li>a,.am-nav-tabs.am-nav-justify>li>a,.am-nav-tabs.am-nav-justify>.am-active>a,.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover {border: none; color: #000;font-weight: 600;}
.am-nav-tabs.am-nav-justify > .am-active> a, .am-nav-tabs.am-nav-justify>.am-active>a:focus, .am-nav-tabs.am-nav-justify>.am-active>a:hover ,.am-nav-tabs>li.am-active>a,.am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover {
margin-right: 0px;border-bottom: 1px solid #0e90d2;border-radius: 0px;}

 /*底部*/
.footer {text-align:center;font-size: 12px;padding-top: 5px;}
.footer-bd{ display:none;}

@media screen and (min-width:640px){
form,.am-cf,.partner{max-width:640px;margin:20px auto ;}
.footer-bd{ display:block;}	
.partner h3 {text-align:left;}
.am-btn-group i { display:inline-block;border-radius:0px;border:0px;background-color:transparent ;}
.am-btn-group span{display:inline-block;}
.am-cf input{width: 100%;font-size: 16px;}
 /*底部*/
.footer {text-align:left; display:block;position: relative;margin: 0px auto; padding: 7px 0px 9px; margin-top:20px;max-width: 1200px;}
.footer .footer-bd p, .footer .footer-hd p {margin-bottom: 8px;line-height: 27px;text-align:left;border-bottom:1px solid #ddd ;}
.footer .footer-hd a { margin: 0px 4px;white-space: nowrap;color: #6C6C6C;}
.footer .footer-hd b { margin: 0px 3px;font-weight: 400;color: #DDD;}
.footer .footer-bd p{ border-bottom:none;}


}
@media screen and (min-width:1025px){

.login-box,.login-box2 {width: 100%;max-width:360px;height: 490px;position: absolute;margin-top:20px;margin-left:0px;background:#f8f8f8;right:2%;padding:10px 20px;}
.login-box2 {height:430px;}
.login-boxtitle {max-width: 1000px;margin: 0px auto;height: 60px;}
.login-boxtitle img{height:60px;}
.login-banner,.res-banner{width:100%;height:540px; background:#fd7a72;}
.login-main,.res-main{max-width:1000px;height:540px; margin:0px auto; position:relative;}

/*头部*/
.login-boxtitle{display: block;}
.zcnext{right: 20px;top: 15px;}
/*背景*/
.login-banner-bg{display:block;float:left;} 
.am-btn-primary{width:100%;}

/*修改的样式*/
#doc-my-tabs li.am-active a,#doc-my-tabs li a{ background:#f8f8f8;}
.am-nav-tabs>li>a,.am-nav-tabs.am-nav-justify>li>a,.am-nav-tabs.am-nav-justify>.am-active>a,.am-nav-tabs>li.am-active>a, .am-nav-tabs>li.am-active>a:focus, .am-nav-tabs>li.am-active>a:hover {border: none; }
	}

